/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0 auto;
  max-width: 685px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.text {
  max-width: 685px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Header */

.page-header {
  min-height: 64px;
  color: #000000;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
  z-index: 5;
}

.logo {
  width: 140px;
  height: 70px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  max-width: 430px;
  margin-left: auto;
  justify-content: flex-end;
}

.user-search {
  padding: 22px 12px;
  background-image: url("../images/icons/header-search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 44px;
  height: 64px;
}

.user-favorite {
  position: relative;
  padding: 22px 12px;
  background-image: url("../images/icons/header-heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 44px;
  height: 64px;
}

.user-favorite-count {
  position: absolute;
  top: 10px;
  right: 4px;
  min-width: 20px;
  height: 20px;
  padding: 5px 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

/* Main */

.main-container {
  flex-grow: 1;
}

/* Hero */

.hero {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 78px;
  position: relative;
  background-color: #1e227a;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align:center;
}

.hero::after {
  content: url("../images/hero-divider.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 1200px;
  height: 57px
}

/* Reasons */

.reasons {
  padding-top: 69px;
}

.reasons-title {
  margin-bottom: 25px;
}

.reasons-text {
  margin-bottom: 90px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reason-item, .reason-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 400px;
  min-height:385px;
  padding: 85px;
}

.reason-item-big {
  width: 100%;
  padding: 0;
  background-color: #82B3D3;
}

.reason-item-big .reason-name,
.reason-item-big .reason-description {
  color: #FFFFFF;
}

.reason-name {
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.reason-description {
  margin: 0;
}

.reason-img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

/* Recommendation */

.recommendation {
  padding-top: 64px;
}

.recommendation-title {
  margin-bottom: 20px;
  max-width: 505px;
}

.recommendation-text {
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendation-item {
  width: 400px;
  padding: 183px 85px 81px;
}

.recommendation-item:first-child {
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;}

.recommendation-item:nth-child(2) {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;}

.recommendation-item:last-child {
  background-image: url("../images/icons/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.recommendation-name {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.recommendation-description {
  margin: 0;
  max-width: 230px;
  text-align: center;
}

/* Search */

.search {
  padding: 96px 0;
  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

/* Subscription */

.subscription {
  padding: 97px 0 105px;
  background-color: #1e227a;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
}

.subscription-title {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.subscription-text {
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 540px  ;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin: 0 auto;
}

.subscription-email {
  width: 452px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

/* Footer */

.page-footer {
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 47px;
  height: 47px;
}

.social-link {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Catalog */

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 40px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

/* Filter */

.filter-wrapper {
  padding: 35px 70px 70px;
  background-color: #1e227a;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  width: 150px;
  border: none;
  /* word-break: break-all; */
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
  line-height: 23px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  padding-left: 16px;
}

.catalog-filter-price {
  max-width: 288px;
}

.input-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-label span {
  position: absolute;
  top: 12px;
  right: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-input {
  width: 143px;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #F2F2F2;
  border: none;
}

.min-price {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.range-button {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 55px;
}

/* Hotels */

.hotels {
  padding:  50px 70px 60px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-title {
  max-width: 350px;
  margin: 0;
  align-self: center;
}

.select-control {
  width: 292px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotels-view-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
}

.hotels-view {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-view-current {
  border: 2px solid #000000;
}

.hotels-view:first-child {
  background-image: url("../images/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.hotels-view:nth-child(2) {
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.hotels-view:last-child {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px repeat(4, min-content);
  row-gap: 16px;
  column-gap: 20px;
  align-items: center;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  word-break: break-all;
}

.hotel-card p {
  margin: 0;
}

.hotel-link {
  grid-column: 1/-1;
  color: #000000;
  text-decoration: none;
}

.hotel-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-price {
  justify-self: end;
}

.hotel-stars {
  background-image: url("../images/icons/hotel-stars.svg");
  background-repeat: repeat-x;
  background-size: 23px 17px;
  width: 18px;
  height: 17px;
}

.hotel-stars-2 {
  width: 42px;
}

.hotel-stars-3 {
  width: 66px;
}

.hotel-stars-4 {
  width: 90px;
}

.hotel-rating {
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.dots {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.catalog-subscription {
  padding: 96px 258px 104px;
  text-align: center;
}

.catalog-subscription-title {
  margin-bottom: 20px;
}

/* Buttons and backgrounds */

.button {
  padding: 8px 34px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.navigation-item .button {
    margin-left: 20px;

}

.search-button,
.subscription-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscription-button {
  border-radius: 0 4px 4px 0;
}

.button-filter {
  display: block;
  width: 191px;
}

.button-filter:not(:last-child) {
  margin-bottom: 32px;
}

.hotel-button {
  display: inline-block;
  width: 140px;
  padding: 8px;
}

.button-dark {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.button-favorite {
  background-color: #7DB54F;
}

.light-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.middle-background {
  background-color: rgba(131, 179, 211, 0.2);
}
